In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# Import our input dataset
loans_df = pd.read_csv('Resources/loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [4]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()
loans_cat

['Loan_Status', 'Term', 'Years_in_current_job', 'Home_Ownership', 'Purpose']

In [5]:
# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [6]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))
encode_df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [10]:
# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

In [13]:
y

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
36418    1.0
36419    1.0
36420    1.0
36421    1.0
36422    1.0
Name: Loan_Status_Fully_Paid, Length: 36423, dtype: float64

In [14]:
len(y)

36423

In [16]:
X.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [17]:
len(X)

36423

In [18]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [19]:
X_train.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
26239,78892,738.0,1168044.0,12167.22,14.3,46.0,16,0,48545,1196118.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4513,349140,649.0,1413467.0,16019.28,28.1,76.0,5,0,120669,165946.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28928,222596,737.0,865089.0,7497.40,13.4,8.0,7,0,184319,233772.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3987,99999999,733.0,626164.0,15967.03,29.5,70.0,7,0,485260,807290.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8778,88836,722.0,928435.0,7210.88,20.1,33.0,12,2,70205,182270.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [22]:
len(X_train)

27317

In [23]:
len(X_test)

9106

In [24]:
len(y_train)

27317

In [25]:
len(y_test)

9106

In [26]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [27]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

In [28]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [31]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [32]:
# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [33]:
len(X_train_scaled[0])

36

In [34]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

In [35]:
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [36]:
# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Train on 27317 samples
Epoch 1/50
27317/27317 [==============================] - 2s 62us/sample - loss: 0.4384 - accuracy: 0.8290s -
Epoch 2/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3874 - accuracy: 0.8489
Epoch 3/50
27317/27317 [==============================] - 1s 46us/sample - loss: 0.3831 - accuracy: 0.8491
Epoch 4/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3813 - accuracy: 0.8492
Epoch 5/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3798 - accuracy: 0.8494
Epoch 6/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3781 - accuracy: 0.8495
Epoch 7/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3777 - accuracy: 0.8494
Epoch 8/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3766 - accuracy: 0.8493
Epoch 9/50
27317/27317 [==============================] - 1s 46us/sample - loss: 0.3760 - accuracy: 0.8496
Epoch 10/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3754 - accuracy: 0.8495
Epoch 11/50
27317/27317 [==============================] - 1s 44us/sample - loss: 0.3748 - accuracy: 0.8496
Epoch 12/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3745 - accuracy: 0.8495
Epoch 13/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3735 - accuracy: 0.8498
Epoch 14/50
27317/27317 [==============================] - 1s 45us/sample - loss: 0.3735 - accuracy: 0.8493
Epoch 15/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3733 - accuracy: 0.8498
Epoch 16/50
27317/27317 [==============================] - 1s 48us/sample - loss: 0.3723 - accuracy: 0.8498
Epoch 17/50
27317/27317 [==============================] - 1s 41us/sample - loss: 0.3719 - accuracy: 0.8499
Epoch 18/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3716 - accuracy: 0.8499
Epoch 19/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3709 - accuracy: 0.8505
Epoch 20/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3708 - accuracy: 0.8504
Epoch 21/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3709 - accuracy: 0.8502
Epoch 22/50
27317/27317 [==============================] - 1s 45us/sample - loss: 0.3701 - accuracy: 0.8498
Epoch 23/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3699 - accuracy: 0.8504
Epoch 24/50
27317/27317 [==============================] - 1s 43us/sample - loss: 0.3694 - accuracy: 0.8504
Epoch 25/50
27317/27317 [==============================] - 1s 41us/sample - loss: 0.3688 - accuracy: 0.8505
Epoch 26/50
27317/27317 [==============================] - 1s 41us/sample - loss: 0.3687 - accuracy: 0.8505
Epoch 27/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3686 - accuracy: 0.8503
Epoch 28/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3676 - accuracy: 0.8504
Epoch 29/50
27317/27317 [==============================] - 1s 46us/sample - loss: 0.3678 - accuracy: 0.8508
Epoch 30/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3671 - accuracy: 0.8502
Epoch 31/50
27317/27317 [==============================] - 1s 42us/sample - loss: 0.3672 - accuracy: 0.8512
Epoch 32/50
27317/27317 [==============================] - 1s 44us/sample - loss: 0.3667 - accuracy: 0.8508
Epoch 33/50
27317/27317 [==============================] - 1s 52us/sample - loss: 0.3666 - accuracy: 0.8509
Epoch 34/50
27317/27317 [==============================] - 1s 51us/sample - loss: 0.3661 - accuracy: 0.8514
Epoch 35/50
27317/27317 [==============================] - 2s 62us/sample - loss: 0.3655 - accuracy: 0.8510
Epoch 36/50
27317/27317 [==============================] - 2s 59us/sample - loss: 0.3652 - accuracy: 0.8512
Epoch 37/50
27317/27317 [==============================] - 2s 58us/sample - loss: 0.3649 - accuracy: 0.8517
Epoch 38/50
27317/27317 [==============================] - 1s 52us/sample - loss: 0.3646 - accuracy: 0.8511
Epoch 39/50
27317/27317 [==============================] - 2s 60us/sample - loss: 0.3640 - accuracy: 0.8517
Epoch 40/50
27317/27317 [==============================] - 2s 57us/sample - loss: 0.3636 - accuracy: 0.8509
Epoch 41/50
27317/27317 [==============================] - 1s 46us/sample - loss: 0.3639 - accuracy: 0.8511
Epoch 42/50
27317/27317 [==============================] - 1s 45us/sample - loss: 0.3638 - accuracy: 0.8515
Epoch 43/50
27317/27317 [==============================] - 1s 50us/sample - loss: 0.3634 - accuracy: 0.8513
Epoch 44/50
27317/27317 [==============================] - 1s 49us/sample - loss: 0.3632 - accuracy: 0.8515
Epoch 45/50
27317/27317 [==============================] - 2s 56us/sample - loss: 0.3634 - accuracy: 0.8517
Epoch 46/50
27317/27317 [==============================] - 1s 45us/sample - loss: 0.3629 - accuracy: 0.8521
Epoch 47/50
27317/27317 [==============================] - 1s 49us/sample - loss: 0.3625 - accuracy: 0.8519
Epoch 48/50
27317/27317 [==============================] - 1s 48us/sample - loss: 0.3623 - accuracy: 0.8519
Epoch 49/50
27317/27317 [==============================] - 1s 48us/sample - loss: 0.3618 - accuracy: 0.8520
Epoch 50/50
27317/27317 [==============================] - 2s 60us/sample - loss: 0.3621 - accuracy: 0.8518

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

9106/9106 - 0s - loss: 0.3915 - accuracy: 0.8456
Loss: 0.39151199648675095, Accuracy: 0.8455963134765625